In [55]:
import numpy as np
import pandas as pd
pd.set_option('mode.chained_assignment',None)
import os
import glob

import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

In [42]:
PATH = Path.cwd().parent
RAW_PATH = Path(PATH, "./data/raw/") 
print(RAW_PATH)

/Users/rco/OneDrive/ITA/Mestrado/2021_TE-282 - Meta heuriÃÅsticas/Lab/data/raw

In [43]:
def read_port_files(n_port):
    filepath = Path(RAW_PATH, 'port' + str(n_port) + '.txt')
    with open(filepath) as fp:
        # quantidade de ativos no portfolio
        n_assets = int(fp.readline())
        # armazena as estatisticas do ativo
        r_mean = []
        r_std = []
        for n in range(n_assets):
            line = fp.readline()
            r_mean.append(float(line.strip().split()[0]))
            r_std.append(float(line.strip().split()[1]))

        # obtem o restante da matriz de covariancia
        cnt = 32
        i = []
        j = []
        cov = []
        line = fp.readline()
        while line:
            i.append(int(line.strip().split(' ')[0]))
            j.append(int(line.strip().split(' ')[1]))
            cov.append(float(line.strip().split(' ')[2]))
            line = fp.readline()
    fp.close()
    # retorna dataframe com estatisticas dos ativos do portfolio
    df_stats = pd.DataFrame({'port':n_port,
                             'i':[i_+1 for i_ in range(n_assets)],
                             'r_mean':r_mean,
                             'r_std':r_std})
    print(df_stats.shape)

    # retorna dataframe com matriz de covariancia dos ativos do portfolio
    df_cov_mx = pd.DataFrame({'port':n_port,
                             'i':i,
                             'j':j,
                             'cov':cov})
    print(df_cov_mx.shape)
    return df_stats, df_cov_mx

In [44]:
df_stats_list = []
df_cov_mx_list =[]
for p in range(1,6,1):
    df_stats, df_cov_mx = read_port_files(p)
    df_stats_list.append(df_stats)
    df_cov_mx_list.append(df_cov_mx)
    
df_stats = pd.concat(df_stats_list)
df_cov_mx = pd.concat(df_cov_mx_list)

(31, 4)
(496, 4)
(85, 4)
(3655, 4)
(89, 4)
(4005, 4)
(98, 4)
(4851, 4)
(225, 4)
(25425, 4)

## Portfolio 1 - Hang Seng

### Return

In [45]:
df_stats[df_stats.port==1].describe().T

,count,mean,std,min,25%,50%,75%,max
port,31.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
i,31.0,16.000000,9.092121,1.000000,8.500000,16.000000,23.500000,31.000000
r_mean,31.0,0.003504,0.002186,0.000141,0.002043,0.003286,0.004725,0.010865
r_std,31.0,0.045723,0.007296,0.035848,0.040043,0.045450,0.050112,0.069105

### Risk

In [46]:
df_cov_mx[df_cov_mx.port==1].describe().T

,count,mean,std,min,25%,50%,75%,max
port,496.0,1.000000,0.000000,1.000000,1.00000,1.000000,1.000000,1.0
i,496.0,11.000000,7.423686,1.000000,5.00000,10.000000,16.000000,31.0
j,496.0,21.000000,7.423686,1.000000,16.00000,22.000000,27.000000,31.0
cov,496.0,0.556209,0.178871,0.139539,0.45267,0.554651,0.654551,1.0

## Portfolio 2 - DAX

### Return

In [47]:
df_stats[df_stats.port==2].describe().T

,count,mean,std,min,25%,50%,75%,max
port,85.0,2.000000,0.000000,2.000000,2.000000,2.000000,2.000000,2.000000
i,85.0,43.000000,24.681302,1.000000,22.000000,43.000000,64.000000,85.000000
r_mean,85.0,0.001491,0.002392,-0.004002,0.000065,0.001689,0.002756,0.009794
r_std,85.0,0.036628,0.009887,0.021207,0.030647,0.033448,0.040471,0.067993

### Risk

In [48]:
df_cov_mx[df_cov_mx.port==2].describe().T

,count,mean,std,min,25%,50%,75%,max
port,3655.0,2.000000,0.000000,2.000000,2.000000,2.000000,2.000000,2.0
i,3655.0,29.000000,20.152199,1.000000,12.000000,26.000000,43.000000,85.0
j,3655.0,57.000000,20.152199,1.000000,43.000000,60.000000,74.000000,85.0
cov,3655.0,0.225832,0.171709,-0.087007,0.128303,0.191378,0.270734,1.0

## Portfolio 3 - FTSE

### Return

In [49]:
df_stats[df_stats.port==3].describe().T

,count,mean,std,min,25%,50%,75%,max
port,89.0,3.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.000000
i,89.0,45.000000,25.836021,1.000000,23.000000,45.000000,67.000000,89.000000
r_mean,89.0,0.002661,0.001649,-0.001126,0.001821,0.002462,0.003561,0.008209
r_std,89.0,0.034540,0.005842,0.023641,0.030368,0.034225,0.036987,0.053099

### Risk

In [50]:
df_cov_mx[df_cov_mx.port==3].describe().T

,count,mean,std,min,25%,50%,75%,max
port,4005.0,3.000000,0.000000,3.000000,3.000000,3.000000,3.000000,3.0
i,4005.0,30.333333,21.095023,1.000000,12.000000,27.000000,45.000000,89.0
j,4005.0,59.666667,21.095023,1.000000,45.000000,63.000000,78.000000,89.0
cov,4005.0,0.265122,0.143916,-0.035882,0.186645,0.248069,0.309896,1.0

## Portfolio 4 - S&P

### Return

In [51]:
df_stats[df_stats.port==4].describe().T

,count,mean,std,min,25%,50%,75%,max
port,98.0,4.000000,0.000000,4.000000,4.000000,4.000000,4.000000,4.000000
i,98.0,49.500000,28.434134,1.000000,25.250000,49.500000,73.750000,98.000000
r_mean,98.0,0.002873,0.001992,-0.001980,0.001795,0.002863,0.003809,0.009195
r_std,98.0,0.035615,0.009058,0.020968,0.030190,0.033277,0.040286,0.063823

### Risk

In [52]:
df_cov_mx[df_cov_mx.port==4].describe().T

,count,mean,std,min,25%,50%,75%,max
port,4851.0,4.000000,0.000000,4.000000,4.000000,4.000000,4.000000,4.0
i,4851.0,33.333333,23.216374,1.000000,14.000000,29.000000,50.000000,98.0
j,4851.0,65.666667,23.216374,1.000000,49.000000,70.000000,85.000000,98.0
cov,4851.0,0.180241,0.155095,-0.145815,0.095809,0.157262,0.225972,1.0

## Portfolio 5 - Nikkei

### Return

In [53]:
df_stats[df_stats.port==5].describe().T

,count,mean,std,min,25%,50%,75%,max
port,225.0,5.000000,0.000000,5.000000,5.000000,5.000000,5.000000,5.000000
i,225.0,113.000000,65.096083,1.000000,57.000000,113.000000,169.000000,225.000000
r_mean,225.0,-0.001507,0.002189,-0.008489,-0.002864,-0.001451,-0.000185,0.003971
r_std,225.0,0.043988,0.008666,0.025847,0.038138,0.043449,0.048888,0.074463

### Risk

In [54]:
df_cov_mx[df_cov_mx.port==5].describe().T

,count,mean,std,min,25%,50%,75%,max
port,25425.0,5.000000,0.000000,5.000000,5.000000,5.00000,5.000000,5.0
i,25425.0,75.666667,53.150729,1.000000,31.000000,67.00000,113.000000,225.0
j,25425.0,150.333333,53.150729,1.000000,113.000000,159.00000,195.000000,225.0
cov,25425.0,0.480902,0.113331,0.074025,0.410203,0.48226,0.549323,1.0