In [48]:
import numpy as np
import pandas as pd
pd.set_option('mode.chained_assignment',None)
import os
import glob

import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

In [49]:
PATH = Path.cwd().parent
RAW_PATH = Path(PATH, "./data/raw/") 
print(RAW_PATH)

/Users/rco/OneDrive/ITA/Mestrado/2021_TE-282 - Meta heuriÃÅsticas/Lab/data/raw

In [50]:
def read_port_files(n_port):
    filepath = Path(RAW_PATH, 'port' + str(n_port) + '.txt')
    with open(filepath) as fp:
        # quantidade de ativos no portfolio
        n_assets = int(fp.readline())
        # armazena as estatisticas do ativo
        r_mean = []
        r_std = []
        for n in range(n_assets):
            line = fp.readline()
            r_mean.append(float(line.strip().split()[0]))
            r_std.append(float(line.strip().split()[1]))

        # obtem o restante da matriz de covariancia
        cnt = 32
        i = []
        j = []
        cov = []
        line = fp.readline()
        while line:
            i.append(int(line.strip().split(' ')[0]))
            j.append(int(line.strip().split(' ')[1]))
            cov.append(float(line.strip().split(' ')[2]))
            line = fp.readline()
    fp.close()
    # retorna dataframe com estatisticas dos ativos do portfolio
    df_stats = pd.DataFrame({'port':n_port,
                             'i':[i_+1 for i_ in range(n_assets)],
                             'r_mean':r_mean,
                             'r_std':r_std})
    print(df_stats.shape)

    # retorna dataframe com matriz de covariancia dos ativos do portfolio
    df_cov_mx = pd.DataFrame({'port':n_port,
                             'i':i,
                             'j':j,
                             'cov':cov})
    print(df_cov_mx.shape)
    return df_stats, df_cov_mx

In [51]:
df_stats_list = []
df_cov_mx_list =[]
for p in range(1,6,1):
    df_stats, df_cov_mx = read_port_files(p)
    df_stats_list.append(df_stats)
    df_cov_mx_list.append(df_cov_mx)
    
df_stats = pd.concat(df_stats_list)
df_cov_mx = pd.concat(df_cov_mx_list)

(31, 4)
(496, 4)
(85, 4)
(3655, 4)
(89, 4)
(4005, 4)
(98, 4)
(4851, 4)
(225, 4)
(25425, 4)

In [52]:
print(df_stats.shape)
df_stats.describe().T

(528, 4)

,count,mean,std,min,25%,50%,75%,max
port,528.0,3.759470,1.308600,1.000000,3.000000,4.000000,5.000000,5.000000
i,528.0,72.787879,58.460747,1.000000,27.000000,59.000000,96.000000,225.000000
r_mean,528.0,0.000786,0.002927,-0.008489,-0.001268,0.001107,0.002830,0.010865
r_std,528.0,0.039758,0.009510,0.020968,0.032508,0.038820,0.046139,0.074463

In [53]:
print(df_cov_mx.shape)
df_cov_mx.describe().T

(38432, 4)

,count,mean,std,min,25%,50%,75%,max
port,38432.0,4.328424,1.074477,1.000000,4.000000,5.000000,5.000000,5.0
i,38432.0,60.326317,49.887091,1.000000,20.000000,46.000000,88.000000,225.0
j,38432.0,119.652633,62.346886,1.000000,67.750000,111.000000,178.000000,225.0
cov,38432.0,0.397179,0.180055,-0.145815,0.261452,0.423357,0.521063,1.0